body {
    font-family: Roboto, sans-serif; 
    font-size: 18px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.header,
.hero,
.info,
.comment,
.call,
.footer {
  width: 1000px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0px 100px;
}

.hero,
.info,
.comment,
.call {
  padding: 100px;
}

.hero,
.header,
.footer { 
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
    color: #e5e7eb;
}

.headlogo {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.logo {
    font-size: 24px;
    display: flex;
}

.links {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
} 

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #3882f6;
  width: 100px;
  height: 30px;
 /* padding: 100px 40px;*/
}

.heroinfo {
  /*margin: 70px 0px;*/
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
  gap: 24px;
}
.hero img {
  max-width: 450px;
  display: flex;
 }

.deschero {
  max-width: 450px;
  /*align-items: flex-start;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.text1 {
  font-size: 48px;
}

.info {
  color: #1f2937;
  background-color: white;
  align-items: center;
  gap: 30px;
}

.textinfo {
  font-size: 36px;
  font-weight: 900;
  display: flex;
}

.blockinfo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content:space-between;
  gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.block img {
  border: 5px solid #3882f6;
  border-radius: 8px;
  object-fit:contain ;
  object-position: center;
  height: 250px;
}

.desc {
  color: #1f2937;
}

.comment {
  background-color: #e5e7eb ;
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
}

.autor {
  font-weight: bold;
  text-align: right;
}

.review,
.autor {
  padding: 0 70px;
  margin: 0;
}

.call {
  background-color: white;
  color: white;
}

.blockcall {
  background-color: #3882f6;
  margin: 30px 0px;
  padding: 10px 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.call button {
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.textcall {
  padding: 0px;
}

.text3 {
  margin: 40px 0 0 0;
}

.text4 {
  font-weight:normal;
  margin: 0 0 40px 0;
}

.footer {
  padding: 20px 100px;
  text-align: center;
  font-weight: normal;
}